

/* .box1{
    background-color: grey;
    background-size: cover;
    width:100%;
    height:100%;
} */
.jumbotron {
    background-color: #a3c526;
    color: #fff;
    padding: 100px 25px;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #a3c526;
    font-size: 50px;
}
.logo {
    color: #a3c526;
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
}