* {
    box-sizing: border-box;
  }

body{
    height: auto; 
    background-image:url(galaxy1.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    /* background-color: black; */

}
#mainbox{
    box-sizing: border-box;
    width:100%;
}
#headingone{
    color:azure;
    text-align:center;
    animation-name:abc;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
.headingtwo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    text-shadow:5px 5px 5px pink;
    color:white;
    margin-left:40%;
    margin-top:30px;
}
#headingthree{
    color:pink;
    margin-left: 20%;
    font-size: x-large;
    font-weight: bold;
}
#headingfour{
    color:rgb(113, 236, 140);
    font-family: cursive;
    font-weight: bold;
    margin-left: 30%;
    font-style: italic;
    font-size: 25px;
    animation-name: efg;
    animation-timing-function: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-shadow:5px 5px 10px wheat;
}
#label1{
    height:30px;
    width:20%;
    font-weight: bolder;
    font-size: larger;
    padding:15px;
    border-radius: 20px;
    text-align: center;
}
#label1:active{
    box-shadow: 5px 5px 10px white;
}
button{
    height:30px;
    width:80px;
    background-color:yellow;
    font-weight: bolder;
}
button:active{
    box-shadow:5px 5px 10px white;
}
.container{
    display:inline-flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.container div{
    padding-left: 10px;
    margin:20px;

}
.image{
    margin-left:90px;
    width:200px;
    height:200px;
    border-radius:100px;
    background-size: cover;
    /* background-attachment: fixed; */
}
.image:hover{
    border-radius: 20%;
	box-shadow:  5px 5px 10px lightgrey;
    transition-property: width height border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width:210px;
    height:210px;
    border-radius:100px;
}
.name{
    color:bisque;
    font-family: cursive;
    font-size: x-large;
    margin:10px;
    margin-left: 50%;
}
a{
    text-decoration: none;
}

.name:hover{
   color:pink;
   /* text-decoration: underline; */
}
.label{
    color:white;
    text-align:center;
    margin-left:33%;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;

}
@keyframes abc{
    0%   {color: ghostwhite;}
    25%  {color: grey;}
    50%  {color:aliceblue;}
    100% {color:bisque;}
}
@keyframes efg{
    0% {color:rgb(197, 245, 142);}
    50%{color:rgb(174, 252, 246);}
    100%{color:rgb(201, 234, 131);}
}
#lastheading{
    text-align:center;
    color:bisque;
    font-size:30px ;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (max-width: 900px) { 
    #label1 {
      margin-left:21%;
      width:50%;
      text-align:center;
    }
    #headingthree{
        margin-left: 10px;
    }
    #headingfour{
        margin-left:25%;
    }
    .headingtwo{
         margin-left:35%; 
    }
    .container {
        margin:auto;
    }
  }

@media only screen and (max-width: 500px) {
    #label1 {
      margin-left:16%;
      width:70%;

    }
    #headingthree{
        margin-left: 19px;
    }
    #headingfour{
        margin-left:18%;
    }
    .headingtwo{
        margin-left:30%;
    }
    .container{
        margin-left:auto;
    }
    
  }